@tailwind base;
@tailwind components;
@tailwind utilities;

:root.pause-transitions *,
:root.pause-transitions *::before,
:root.pause-transitions *::after {
  transition: none !important;
}

.rmi {
  position: relative;
}

.rmi-ghost {
  pointer-events: none;
  position: absolute;
}

.rmi-zoom-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  color: #fff;
  height: 40px;
  margin: 0;
  outline-offset: 2px;
  padding: 9px;
  touch-action: manipulation;
  width: 40px;
}

.rmi-zoom-button:not(:focus):not(:active) {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  pointer-events: none;
  white-space: nowrap;
  width: 1px;
}

.rmi-zoom-button {
  cursor: zoom-in;
  inset: 10px 10px auto auto;
  position: absolute;
}

.rmi img {
  cursor: zoom-in;
}

.rmi-dialog::backdrop {
  display: none;
}

.rmi-dialog {
  outline: none;
}

.rmi-dialog[open] {
  background: transparent;
  border: 0;
  height: 100vh;
  height: 100dvh;
  margin: 0;
  max-height: none;
  max-width: none;
  overflow: hidden;
  padding: 0;
  position: fixed;
  width: 100vw;
  width: 100dvw;
}

.rmi-dialog-overlay {
  inset: 0;
  position: absolute;
  transition: background-color 0.3s;
}

.rmi-dialog .rmi-dialog-overlay {
  background-color: rgba(255 255 255 / 0);
}

.rmi-dialog[open] .rmi-dialog-overlay {
  background-color: rgba(255 255 255 / 0.8);
}

.dark .rmi-dialog .rmi-dialog-overlay {
  background-color: rgba(0 0 0 / 0);
}

.dark .rmi-dialog[open] .rmi-dialog-overlay {
  background-color: rgba(0 0 0 / 0.8);
}

.rmi-dialog-content {
  height: 100%;
  position: relative;
  width: 100%;
}

.rmi-dialog-img {
  border-radius: 0.75rem;
  cursor: zoom-out;
  image-rendering: high-quality;
  position: absolute;
  transform-origin: top left;
  transition: transform 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  .rmi-dialog-overlay,
  .rmi-dialog-img {
    transition-duration: 0.01ms !important;
  }
}
