@tailwind base;
@tailwind components;
@tailwind utilities;

:root.pause-transitions *,
:root.pause-transitions *::before,
:root.pause-transitions *::after {
  transition: none !important;
}

[data-rmiz] {
  position: relative;
}

[data-rmiz-ghost] {
  pointer-events: none;
  position: absolute;
}

[data-rmiz-btn-zoom] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  color: #fff;
  height: 40px;
  margin: 0;
  outline-offset: 2px;
  padding: 9px;
  touch-action: manipulation;
  width: 40px;
}

[data-rmiz-btn-zoom]:not(:focus):not(:active) {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  pointer-events: none;
  white-space: nowrap;
  width: 1px;
}

[data-rmiz-btn-zoom] {
  cursor: zoom-in;
  inset: 10px 10px auto auto;
  position: absolute;
}

[data-rmiz-content="found"] img,
[data-rmiz-content="found"] svg,
[data-rmiz-content="found"] [role="img"],
[data-rmiz-content="found"] [data-zoom] {
  cursor: zoom-in;
}

[data-rmiz-modal]::backdrop {
  display: none;
}

[data-rmiz-modal] {
  outline: none;
}

[data-rmiz-modal][open] {
  background: transparent;
  border: 0;
  height: 100vh;
  height: 100dvh;
  margin: 0;
  max-height: none;
  max-width: none;
  overflow: hidden;
  padding: 0;
  position: fixed;
  width: 100vw;
  width: 100dvw;
}

[data-rmiz-modal-overlay] {
  inset: 0;
  position: absolute;
  transition: background-color 0.3s;
}

[data-rmiz-modal-overlay="hidden"] {
  background-color: rgba(255 255 255 / 0);
}

[data-rmiz-modal-overlay="visible"] {
  background-color: rgba(255 255 255 / 0.8);
}

.dark [data-rmiz-modal-overlay="hidden"] {
  background-color: rgba(0 0 0 / 0);
}

.dark [data-rmiz-modal-overlay="visible"] {
  background-color: rgba(0 0 0 / 0.8);
}

[data-rmiz-modal-content] {
  height: 100%;
  position: relative;
  width: 100%;
}

[data-rmiz-modal-img] {
  border-radius: 0.75rem;
  cursor: zoom-out;
  image-rendering: high-quality;
  position: absolute;
  transform-origin: top left;
  transition: transform 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  [data-rmiz-modal-overlay],
  [data-rmiz-modal-img] {
    transition-duration: 0.01ms !important;
  }
}
