@import "tailwindcss";
/* @plugin "@tailwindcss/typography"; */

@config "../../tailwind.config.cjs";

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@custom-variant aria-current (&[aria-current="page"]);

@theme {
  --animate-draw-stroke: draw-stroke 200ms ease-in-out 700ms forwards;
  --animate-heartbeat: heartbeat 1s ease-in-out 0s infinite alternate none
    running;
  --animate-popover-enter: popover-slide 200ms;
  --animate-popover-exit: popover-slide 200ms reverse ease-in;

  @keyframes draw-stroke {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: 1;
      stroke-dasharray: 1, 150;
    }
    50% {
      stroke-dashoffset: -35;
      stroke-dasharray: 90, 150;
    }
    100% {
      stroke-dashoffset: -124;
      stroke-dasharray: 90, 150;
    }
  }

  @keyframes halfspin {
    to {
      transform: rotate(180deg);
    }
  }

  @keyframes heartbeat {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }

  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes header {
    from {
      backdrop-filter: blur(0);
      background: transparent;
    }
    to {
      backdrop-filter: blur(8px);
      background: var(--tw-header-scroll-bg);
      box-shadow: --theme(--shadow-md);
    }
  }

  @keyframes tooltip-slide {
    0% {
      opacity: 0;
      transform: var(--origin);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes popover-slide {
    from {
      opacity: 0;
      transform: var(--origin);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes copy-hide {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
    20% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
    }
    80% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  @keyframes copy-show {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
    }
    20% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
    60% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
    80% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
    }
    to {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
    }
  }
}

:root.pause-transitions *,
:root.pause-transitions *::before,
:root.pause-transitions *::after {
  transition: none !important;
}

:root {
  --tw-header-scroll-bg: --theme(--color-white / 75%);
}

:root.dark {
  --tw-header-scroll-bg: --theme(--color-zinc-900 / 75%);
}

.dark .rmi-overlay {
  background-color: rgba(0 0 0 / 0);
}

.dark .rmi.open .rmi-overlay {
  background-color: rgba(0 0 0 / 0.8);
}
