@import "tailwindcss" source(none);
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/container-queries";

@source "../../packages";
@source "../../app";
@source "../../components";

@utility focusable {
  &:focus {
    outline: none;
  }

  &:focus-visible {
    box-shadow: 0 0 0 3px var(--color-indigo-500);
  }
}

/* .prose :where(p):not(:where([class~=not-prose],[class~=not-prose] *)) */

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant aria-current (&[aria-current="page"]);

@theme {
  --animate-draw-stroke: draw-stroke 200ms ease-in-out 700ms forwards;
  --animate-heartbeat: heartbeat 1s ease-in-out 0s infinite alternate none
    running;
  --animate-popover-enter: popover-slide 200ms;
  --animate-popover-exit: popover-slide 200ms reverse ease-in;

  --text-2xs: 0.75rem;
  --text-2xs--line-height: 1rem;
  --text-xs: 0.8125rem;
  --text-xs--line-height: 1.5rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5rem;
  --text-base: 1rem;
  --text-base--line-height: 1.75rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 2rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 2.25rem;
  --text-4xl: 2rem;
  --text-4xl--line-height: 2.5rem;
  --text-5xl: 3rem;
  --text-5xl--line-height: 3.5rem;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;

  @keyframes draw-stroke {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: 1;
      stroke-dasharray: 1, 150;
    }
    50% {
      stroke-dashoffset: -35;
      stroke-dasharray: 90, 150;
    }
    100% {
      stroke-dashoffset: -124;
      stroke-dasharray: 90, 150;
    }
  }

  @keyframes halfspin {
    to {
      transform: rotate(180deg);
    }
  }

  @keyframes heartbeat {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }

  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes header {
    from {
      backdrop-filter: blur(0);
      background: transparent;
    }
    to {
      backdrop-filter: blur(8px);
      background: var(--tw-header-scroll-bg);
      box-shadow: --theme(--shadow-md);
    }
  }

  @keyframes tooltip-slide {
    0% {
      opacity: 0;
      transform: var(--origin);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes popover-slide {
    from {
      opacity: 0;
      transform: var(--origin);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes copy-hide {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
    20% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
    }
    80% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  @keyframes copy-show {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
    }
    20% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
    60% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
    80% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
    }
    to {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --tw-prose-ring: 0 0 0 3px --theme(--color-indigo-500);
  --tw-prose-body: --theme(--color-zinc-700);
  --tw-prose-headings: --theme(--color-zinc-900);
  --tw-prose-link: --theme(--color-zinc-900);
  --tw-prose-link-hover: --theme(--color-zinc-100);
  --tw-prose-link-bg: --theme(--color-indigo-400);
  --tw-prose-underline: --theme(--color-indigo-500 / 0.2);
  --tw-prose-underline-hover: --theme(--color-indigo-400);
  --tw-prose-bold: --theme(--color-zinc-900);
  --tw-prose-counters: --theme(--color-zinc-900);
  --tw-prose-bullets: --theme(--color-zinc-900);
  --tw-prose-hr: --theme(--color-zinc-100);
  --tw-prose-quote-borders: --theme(--color-zinc-200);
  --tw-prose-captions: --theme(--color-zinc-400);
  --tw-prose-code: --theme(--color-zinc-700);
  --tw-prose-code-bg: --theme(--color-zinc-100);
  --tw-prose-code-border: --theme(--color-zinc-300);
  --tw-prose-code-link: --theme(--color-indigo-600);
  --tw-prose-code-link-hover: --theme(--color-indigo-500);
  --tw-prose-pre-bg: --theme(--color-white);
  --tw-prose-kbd: --theme(--color-zinc-700);
  --tw-prose-kbd-bg: --theme(--color-zinc-50);
  --tw-prose-kbd-borders: --theme(--color-zinc-200);
  --tw-prose-hl-bg: --theme(--color-indigo-200 / 50%);
  --tw-prose-hl-border: --theme(--color-indigo-500);
}

:root.dark {
  --tw-prose-body: --theme(--color-zinc-300);
  --tw-prose-headings: --theme(--color-zinc-200);
  --tw-prose-link: --theme(--color-zinc-100);
  --tw-prose-link-bg: --theme(--color-indigo-500);
  --tw-prose-underline: --theme(--color-indigo-400 / 0.3);
  --tw-prose-underline-hover: --theme(--color-indigo-400);
  --tw-prose-bold: --theme(--color-zinc-200);
  --tw-prose-counters: --theme(--color-zinc-200);
  --tw-prose-bullets: --theme(--color-zinc-200);
  --tw-prose-hr: --theme(--color-zinc-700 / 0.4);
  --tw-prose-quote-borders: --theme(--color-zinc-500);
  --tw-prose-captions: --theme(--color-zinc-500);
  --tw-prose-pre-bg: --theme(--color-zinc-950);
  --tw-prose-code: --theme(--color-zinc-300);
  --tw-prose-code-bg: --theme(--color-zinc-800);
  --tw-prose-code-border: --theme(--color-zinc-700);
  --tw-prose-code-link: --theme(--color-indigo-400);
  --tw-prose-code-link-hover: --theme(--color-indigo-500);
  --tw-prose-kbd: --theme(--color-zinc-300);
  --tw-prose-kbd-bg: --theme(--color-zinc-800);
  --tw-prose-kbd-borders: --theme(--color-zinc-700);
  --tw-prose-hl-bg: --theme(--color-slate-800 / 50%);
  --tw-prose-hl-border: --theme(--color-indigo-500);

  & :is(.shiki, .shiki span) {
    color: var(--shiki-dark) !important;
  }
}

:root.pause-transitions *,
:root.pause-transitions *::before,
:root.pause-transitions *::after {
  transition: none !important;
}

:root {
  --tw-header-scroll-bg: --theme(--color-white / 75%);
}

:root.dark {
  --tw-header-scroll-bg: --theme(--color-zinc-900 / 75%);
}

.dark .rmi-overlay {
  background-color: rgba(0 0 0 / 0);
}

.dark .rmi.open .rmi-overlay {
  background-color: rgba(0 0 0 / 0.8);
}

.prose {
  color: var(--tw-prose-body);
  line-height: var(--line-height-7, 1.75rem);

  & > * {
    margin-bottom: --spacing(10);
    margin-top: --spacing(10);
  }

  p {
    margin-bottom: --spacing(7);
    margin-top: --spacing(7);
    transition-duration: 150ms;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* Headings */
  h2,
  h3 {
    color: var(--tw-prose-headings);
    font-weight: 600;
  }

  h2 {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-7, 1.75rem);
    margin-bottom: --spacing(4);
    margin-top: --spacing(16);
    padding-top: --spacing(4);
  }

  h3 {
    font-size: var(--font-size-base);
    line-height: var(--line-height-7, 1.75rem);
    margin-bottom: --spacing(4);
    margin-top: --spacing(12);
    padding-top: --spacing(4);
  }

  :is(h2, h3) + * {
    margin-top: 0;
  }

  /* Images */
  img {
    border-radius: var(--radius-xl, 0.75rem);
  }

  /* Links */
  a:not(.heading-link):not(:has(code)) {
    background-image: linear-gradient(
      var(--tw-prose-link-bg),
      var(--tw-prose-link-bg)
    );
    background-position: bottom 2px left 100%;
    background-repeat: no-repeat;
    background-size: 100% 3px;
    box-decoration-break: clone;
    color: var(--tw-prose-link);
    font-weight: 600;
    transition-duration: 150ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  :is(a:hover, a:focus):not(.heading-link) {
    background-position: 0 100%;
    background-size: 100% 100%;
    border-radius: var(--radius-sm, 0.125rem);
    color: var(--tw-prose-link-hover, var(--tw-prose-link));
    margin-inline: calc(--spacing(0.5) * -1);
    padding-inline: --spacing(0.5);
  }

  a:not(.heading-link):focus {
    outline: none;
  }

  em a:not(.heading-link):hover {
    margin-right: calc(--spacing(1) * -1);
    padding-right: --spacing(1);
  }

  strong {
    color: var(--tw-prose-bold);
    font-weight: 600;
  }

  :is(p, li, aside) code {
    background-color: var(--tw-prose-code-bg);
    border-color: var(--tw-prose-code-border);
    border-radius: var(--radius-md, 0.375rem);
    border-width: 1px;
    color: var(--tw-prose-code);
    display: inline-block;
    font-size: var(--font-size-xs);
    font-weight: 600;
    line-height: var(--line-height-5, 1.25rem);
    padding-inline: --spacing(1);
    transition-duration: 150ms;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  a code {
    color: var(--tw-prose-code-link);
  }

  a:has(code):hover code {
    color: var(--tw-prose-code-link-hover);
  }

  a:has(code):focus-visible code {
    box-shadow: inset 0 0 0 2px var(--color-indigo-500);
  }

  :is(h2, h3) code {
    font-weight: 700;
  }

  kbd {
    background-color: var(--tw-prose-kbd-bg);
    border-color: var(--tw-prose-kbd-borders);
    border-radius: var(--radius-md, 0.375rem);
    border-width: 1px;
    box-shadow: inset 0 -1px 0 var(--tw-prose-kbd-borders);
    color: var(--tw-prose-kbd);
    font-size: var(--font-size-xs);
    padding-block: --spacing(0.5);
    padding-inline: --spacing(1);
    transition-duration: 150ms;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* Quotes */
  blockquote {
    border-left-color: var(--tw-prose-quote-borders);
    border-left-width: 2px;
    font-style: italic;
    padding-left: --spacing(6);
  }

  /* Figures */
  figcaption {
    color: var(--tw-prose-captions);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-6, 1.5rem);
    margin-top: --spacing(3);
  }

  figcaption > p {
    margin: 0;
  }

  /* Lists */
  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul,
  ol {
    margin-top: --spacing(4);
    padding-left: --spacing(6);
  }

  li {
    margin-bottom: --spacing(2);
    margin-top: --spacing(2);
    padding-left: --spacing(3.5);
  }

  li::marker {
    font-size: var(--font-size-sm);
    font-weight: 600;
  }

  ol > li::marker {
    color: var(--tw-prose-counters);
  }

  ul > li::marker {
    color: var(--tw-prose-bullets);
  }

  li :is(ol, ul) {
    margin-bottom: --spacing(4);
    margin-top: --spacing(4);
  }

  li :is(li, p) {
    margin-bottom: --spacing(3);
    margin-top: --spacing(3);
  }

  /* Code block is a wrapper around the `pre` tag as well as the title and copy button. */
  .code-block {
    margin-bottom: --spacing(8);
    margin-top: 0;
    margin-inline: calc(--spacing(4) * -1);
    position: relative;

    @media (min-width: 640px) {
      margin-inline: 0;
    }
  }

  .code-block.has-title {
    padding-top: --spacing(12);
  }

  /* When a code block follows a paragraph, reduce the margin a touch to make it feel more connected. */
  p:has(+ .code-block) {
    margin-bottom: --spacing(4);
  }

  pre {
    /* Shiki applies the background color of the theme to the `pre` tag. However, I override this color and thus need to set it to transparent otherwise a very subtle white background will slip through the border radius. */
    background-color: transparent !important;
    font-size: var(--font-size-sm);
  }

  pre code {
    background-color: var(--tw-prose-pre-bg);
    border: solid var(--tw-prose-code-border);
    border-radius: 0;
    border-width: 1px 0 1px 0;
    display: grid;
    font-size: var(--font-size-xs);
    font-weight: inherit;
    isolation: isolate;
    line-height: var(--font-size-xs--line-height);
    overflow-x: auto;
    padding: --spacing(4);

    @media (min-width: 640px) {
      border-width: 1px;
    }
  }

  /* Use a custom focus ring for code blocks */
  pre code:focus {
    outline: none;
  }

  pre code:focus-visible {
    box-shadow: var(--tw-prose-ring);
  }

  :is(.has-title, .demo) :is(pre, code) {
    border-radius: 0;

    @media (min-width: 640px) {
      border-radius: 0 0 var(--radius-lg, 0.5rem) var(--radius-lg, 0.5rem);
    }
  }

  .code-block:not(:is(.has-title, .demo)) :is(pre, code) {
    border-radius: 0;

    @media (min-width: 640px) {
      border-radius: var(--radius-lg, 0.5rem);
    }
  }

  pre code .line {
    border-color: transparent;
    border-left-width: 4px;
    /* This causes slight gap between lines */
    /* clip-path: inset(0 0 0 0); */
    display: inline-block;
    height: calc(var(--line-height-6, 1.5rem) + 1px);
    margin-inline: calc(--spacing(4) * -1);
    padding-left: calc(--spacing(4) - 4px);
    padding-right: --spacing(4);
    transition-duration: 300ms;
    transition-property: height, border-color, background-color, clip-path;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* Highlighted lines */
  pre:not(.collapsed) code .line:is(.highlight, .focus) {
    background-color: var(--tw-prose-hl-bg);
    border-color: var(--tw-prose-hl-border);
    width: calc(100% + --spacing(8));
  }

  /* Collapse non-focused lines */
  pre.collapsed code .line:not(.focus) {
    clip-path: inset(100% 0 0 0);
    height: 0;
  }

  /* Line numbers */
  pre.line-numbers code {
    counter-reset: line;

    @media (min-width: 768px) {
      .line:before {
        color: var(--color-zinc-400);
        content: counter(line);
        counter-increment: line;
        display: inline-block;
        flex-shrink: 0;
        font-size: var(--font-size-xs);
        margin-right: --spacing(4);
        text-align: right;
        user-select: none;
        width: --spacing(4);
      }
    }
  }

  /* Horizontal rules */
  hr {
    border-color: var(--tw-prose-hr);
    border-top-width: 1px;
    margin-bottom: --spacing(20);
    margin-top: --spacing(20);

    @media (min-width: 1024px) {
      margin-left: calc(--spacing(12) * -1);
      margin-right: calc(--spacing(12) * -1);
    }
  }
}
