{
  "extends": [
    "@mskelton",
    "@mskelton/eslint-config/typescript",
    "@mskelton/eslint-config/react",
    "next"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "react/react-in-jsx-scope": "off"
  }
}
