# Yarn
node_modules/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Playwright
test-results/

# TypeScript
*.tsbuildinfo

# Remix
.cache/
/build/
/public/build/
/src/tailwind.css
