@tailwind base;
@tailwind components;
@tailwind utilities;

/* Code */
.markdown p code,
.markdown h2 code,
.markdown h3 code {
  @apply bg-gray-700 py-0.5 px-2 rounded;
}

.markdown p code {
  @apply text-base;
}

.markdown pre {
  @apply bg-gray-800 p-3 mb-4 rounded w-full overflow-x-scroll;
  color: #abb2bf;
}

/* Highlighting */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-500 italic;
}

.token.atrule,
.token.keyword,
.token.important {
  color: #c678dd;
}

.token.class-name {
  color: #e5c07b;
}

.token.content,
.token.function {
  color: #61afef;
}

.token.key,
.token.property,
.token.tag > .token.tag {
  color: #e06c75;
}

.token.attr-name,
.token.parameter,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #d19a66;
}

.token.attr-value,
.token.string,
.token.char,
.token.url > .token.url {
  color: #98c379;
}

.token.operator,
.token.regex {
  color: #56b6c2;
}

.token.deleted {
  color: #f44747;
}

.token.class-name,
.token.function,
.token.important,
.token.bold {
  @apply font-bold;
}

.token.keyword,
.token.italic {
  @apply italic;
}
