.view-parent {
  height: 480px;
  overflow-y: scroll;
  position: relative;
}

@media (pointer: fine) {
  .view-parent {
    overscroll-behavior: contain;
  }
}

.view-area {
  height: 1200px;
}

.view-box {
  --size: 120px;
  animation: rotate linear;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-timeline: view();
  aspect-ratio: 1;
  left: calc(50% - var(--size) / 2);
  position: relative;
  top: calc(50% - var(--size) / 2);
  width: var(--size);
}
