@keyframes image-pop {
  from {
    opacity: 0;
    transform: scaleX(90%);
  }
  to {
    opacity: 1;
    transform: scaleX(100%);
  }
}

.image {
  animation: image-pop 1ms linear;
  animation-range: 0 50%;
  animation-timeline: view();
}
